<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aptech.crm.dao.DeptDao">
	<!-- <insert id="add" parameterType="org.aptech.crm.pojo.Dept"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into Dept(id,deptCode,deptName,dept,daptPrincipal,deptPhone,deptFax,daptType,remark)
			values(  #{id},  #{deptCode},  #{deptName},  #{dept},  #{daptPrincipal},  #{deptPhone},  #{deptFax},  #{daptType},  #{remark}  )
	</insert>
	
	<update id="update" parameterType="org.aptech.crm.pojo.Dept">
		update Dept set id = #{id},deptCode = #{deptCode},deptName = #{deptName},dept = #{dept},daptPrincipal = #{daptPrincipal},deptPhone = #{deptPhone},deptFax = #{deptFax},daptType = #{daptType},remark = #{remark}
			where id = #{id}
	</update> 
	
	<delete id="deleteByIds" parameterType="java.lang.reflect.Array">
		delete from Dept where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<sql id="conditionSql">
		<if test="condition != null">
			<where>
			</where>
		</if>
	</sql>
	 
	
	
	<select id="getListByCondition" resultType="org.aptech.crm.pojo.Dept">
		select * from Dept
			<include refid="conditionSql"></include>
		order by ${column} ${orderBy}
			limit #{start},#{limit}
	</select>
	<select id="getCountByCondition" resultType="int">
		select count(1) from Dept
			<include refid="conditionSql"></include>
	</select>-->
	<select id="getById" parameterType="int" resultType="org.aptech.crm.pojo.Dept">
		select * from Dept where id = #{id}
	</select>
	<select id="getAll" resultType="org.aptech.crm.pojo.Dept">
		select * from Dept
	</select>
</mapper>