<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aptech.crm.dao.UserDao">
	
	<!-- 登录方法 -->
	<select id="selectByName" resultMap="userMap">
		 SELECT id,username,salt,user_code,PASSWORD,sex,dept_id,post_id,phone,birthday,rntry_time,locked 
		 FROM USER
		 WHERE username = #{username}
	</select>
	
	<!--添加用户  -->
	<insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="User">
		INSERT INTO USER (username,user_code,PASSWORD,salt,sex,dept_id,post_id,phone,birthday,rntry_time,locked )
		VALUES(#{username},#{userCode},#{password},#{salt},#{sex},#{dept.id},#{post.id},#{phone},#{birthday},#{rntryTime},#{locked})
	</insert>
	
	<!-- 用户映射 -->
	<resultMap type="User" id="userMap" autoMapping="true" >
		<id column="id" property="id"/>
		<collection property="roles" javaType="java.util.List" ofType="Role" column="id" select="getRolesByUserId" ></collection>
	</resultMap>
	
	<!-- 查询用户角色 -->
	<select id="getRolesByUserId" parameterType="int" resultType="Role">
		select id,name,available from role where id in (select role_id from user_role where user_id = #{id}) 
	</select>
 	
 	<select id="getById" parameterType="int" resultMap="userMap">
 		SELECT id,username,salt,user_code,PASSWORD,sex,dept_id,post_id,phone,birthday,rntry_time,locked 
		 FROM USER
		 WHERE id = #{id}
 	</select>
 
 	<!-- 封装条件 -->
	<sql id="conditionSql">
		<if test="condition != null">
			<where>
				<if test="condition.username != null and condition.username != ''">
					username like concat('%',#{condition.username},'%')
				</if> 
				  <if test="condition.roles != null and condition.roles.size > 0">
					and id IN (SELECT user_id FROM user_role 
					WHERE role_id IN 
					<foreach collection="condition.roles" open="(" close=")" separator="," item="role">
						#{role.id}
					</foreach> 
					)
				</if>
			</where>
		</if>
	</sql>
	 
	 <!-- 根据条件分页查询 -->
	 <select id="getListByCondition" resultMap="userMap">
	 	 SELECT id,username,user_code,salt,PASSWORD,sex,dept_id,post_id,phone,birthday,rntry_time,locked 
	 	 from user 
	 	 <include refid="conditionSql"></include>
	 	 order by #{column} #{orderBy}
	 	 limit #{start} , #{limit}
	 </select>
	 
	 <!-- 修改用户 -->
	 <update id="update" parameterType="User"> 
			UPDATE USER SET username = #{username},user_code = #{userCode},PASSWORD = #{password},salt = #{salt},sex = #{sex},dept_id = #{dept.id},post_id = #{post.id},phone = #{phone},birthday=#{birthday},rntry_time=#{rntryTime}, locked = #{locked} 
			WHERE id = #{id} 
	 </update>
	 
	 <!-- 删除方法 -->
	 <delete id="deleteByIds" parameterType="java.lang.reflect.Array">
	 	delete from user where id in 
	 		<foreach collection="array" item="id" open="(" close=")" separator="," >
	 			#{id}
	 		</foreach>
	 </delete>
	 
	 <!-- 添加用户关系 -->
	 <insert id="addUserRole" >
	 	INSERT INTO user_role(user_id,role_id)VALUES
	 	 
	 	<foreach collection="array" item="id" separator="," >
	 			(#{userId},#{id})
	 		</foreach>
	 	
	 </insert>
	 
	 <!-- 查询总条数 -->
	 <select id="getCount" resultType="int">
	 	select count(1) from user
	 	<include refid="conditionSql"></include>
	 </select>
</mapper>